.cont {
   margin:0;
   width:90%;
}

.template {
    margin-top:0px;
    margin-bottom:32px;
}

.text {
  font-size:22px;
  line-height:34px;
}

.indigo {
  font-size:22px;
  line-height:28px;
  color: #6574CD;
  margin-bottom:5px;
  border-bottom:2px solid #E6E8FF;
  background-color:#E6E8FF;
}

.indigo:hover {
  cursor:pointer;
  color: #6574CD;
  border-bottom:2px solid #6574CD;
  text-decoration:none;
}

.orange {
  font-size:22px;
  line-height:28px;
  color: #DE751F;
  margin-bottom:5px;
  border-bottom:2px solid #FFF5EB;
  background-color:#FFF5EB;
}

.orange:hover {
  cursor:pointer;
  color: #DE751F;
  border-bottom:2px solid #DE751F;
  text-decoration:none;
}

.purple {
  font-size:22px;
  line-height:28px;
  color:#794ACF;
  margin-bottom:5px;
  border-bottom:2px solid #F3EBFF;
  background-color:#F3EBFF;
}

.purple:hover {
  cursor:pointer;
  color:#794ACF;
  border-bottom:2px solid #794ACF;
  text-decoration:none;
}

.blue {
  font-size:22px;
  line-height:28px;
  color:#2779BD;
  margin-bottom:5px;
  border-bottom:2px solid #EFF8FF;
  background-color:#EFF8FF;
}

.blue:hover {
  cursor:pointer;
  color:#2779BD;
  border-bottom:2px solid #2779BD;
  text-decoration:none;
}

.green {
  font-size:22px;
  line-height:28px;
  color:green;
  margin-bottom:5px;
  border-bottom:2px solid #E3FCEC;
  background-color:#E3FCEC;
}

.green:hover {
  cursor:pointer;
  color:green;
  border-bottom:2px solid green;
  text-decoration:none;
}

.grey {
  font-size:22px;
  line-height:28px;
  color:#3D4852;
  margin-bottom:5px;
  border-bottom:2px solid #DAE1E7;
  background-color:#DAE1E7;
}

.grey:hover {
  cursor:pointer;
  color:#3D4852;
  border-bottom:2px solid #3D4852;
  text-decoration:none;
}

@media (min-width: 768px) {
    .cont {
      width:60%;
      align-self: stretch;
    }
}
