.nav {
  top:0;
  width:100%;
  height:100px;
  -webkit-transition: height .1s linear;
  -moz-transition: height .1s linear;
  -o-transition: height .1s linear;
  transition: height .1s linear;
  position:fixed;
  background-color:white;
  z-index:15;
}

.navScrolled {
  -webkit-transition: height .1s linear;
  -moz-transition: height .1s linear;
  -o-transition: height .1s linear;
  transition: height .1s linear;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.04);
  background-color:white;
  top:0;
  height:90px;
  position:fixed;
  width:100%;
  z-index:10;
  border-bottom:2px solid #F1F5F8;
}

.logo {
  line-height:50px;
  letter-spacing:.5px;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
  font-weight:500;
  margin-left:5px;
  margin-bottom:0;
  font-size:20px;
}

.logoScrolled {
  line-height:35px;
  letter-spacing:.5px;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
  font-weight:500;
  margin-left:5px;
  margin-bottom:0;
  font-size:20px;
}

.pillScrolled {
  line-height:35px;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
  color:#8795A1;
  border-radius:5px;
  padding-left:6px;
  padding-right:6px;
  font-weight:500;
  margin-bottom:10px;
  font-size:14px;
}

.pill {
  line-height:45px;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
  color:#8795A1;
  border-radius:5px;
  padding-left:6px;
  padding-right:6px;
  font-weight:500;
  font-size:14px;
}

.pill:hover, .pillScrolled:hover {
  background-color:#F1F5F8;
  color:black;
}

.connect {
  margin-right:5px;
  margin-left:20px;
  border-radius:5px;
  padding-left:3px;
  padding-right:3px;
  background-color:#FCFBEB;
  border:2px solid #F2D024;
  color:black;
  padding-left:6px;
  padding-right:6px;
  font-weight:500;
}

.connect:hover {
  background-color:#FFF9C2;
  text-decoration:none;
  color:black;
}

.navContents {
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
}

@media (min-width: 768px) {
  .navContents {
    flex-direction:row;
    justify-content:space-between;
  }
  .logoScrolled, .logo {
    font-size:26px;
  }
  .logo {
    line-height:75px;
  }
  .logoScrolled {
    line-height:60px;
  }
  .pill {
    line-height:55px;
    font-size:16px;
    font-weight:lighter;
  }
  .pillScrolled {
    line-height:45px;
    font-size:16px;
    font-weight:lighter;
  }
  .nav {
    height:70px;
  }
  .navScrolled {
    height:60px;
  }
}
