.bar {
  width:60%;
  margin-top:30px;
}

.label {
  line-height:20px;
  font-size:17px;
  font-weight:lighter;
  color:black;
  border-bottom:2px solid #3490DC;
  padding-bottom:5px;
  width:100%;
  margin:0;
}

.status {
  margin-bottom:15px;
  margin-top:15px;
  line-height:20px;
  font-size:16px;
  font-weight:500;
  color:#606F7B;
}

@media (min-width: 768px) {
    .bar {
      width:30%;
    }
    .bar {
      margin-top:5px;
    }
}
