.bar {
  width:60%;
  margin:0;
  margin-top:15px;
  height:155px;
}

.label {
  line-height:20px;
  font-size:17px;
  font-weight:lighter;
  color:black;
  border-bottom:2px solid #3490DC;
  padding-bottom:5px;
  width:100%;
  margin:0;
}

.status {
  margin:0;
  line-height:20px;
  font-size:16px;
  font-weight:500;
  color:#606F7B;
  width:70%;
}

.cont {
  display:flex;
  justify-content:space-between;
  height:100%;
  padding-top:15px;
}

.arrow:hover {
  cursor:pointer;
}

@media (min-width: 768px) {
    .bar {
      width:35%;
    }
    .bar {
      margin-top:2px;
    }
}
